#company-details-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#company-details-header > a {
    margin: auto 0 auto auto;
    flex-shrink: 0;
    flex-grow: 0;
}

#building-error-icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.employee-cards {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, .125);
    box-shadow: 0 2px 8px 0 grey;
    text-decoration: none;
    color: black;
}

.employee-cards i, #building-error-icon-container i {
    font-size: 6rem;
}

.employee-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.employee-card-body span {
    text-align: center;
    padding: 0.5em;
}

#company-detail-list{
    margin-bottom: 2rem;
}

#employee-cards-container {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .employee-cards {
        width: 250px;
    }

    #employee-cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1220px) {
    .employee-cards {
        width: 300px;
    }
    #employee-cards-container {
        width: 1000px;
    }
}