
#dashboard-welcome-headings, #dashboard-goal-container, #dashboard-annual-leave-container {
    margin: 1rem 1rem 2rem 1rem;
}

#dashboard-welcome-headings, #dashboard-goal-section h3, #dashboard-goal-section h3 {
    text-align: center;
}

#dashboard-goal-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#dashboard-goal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #bf7de8;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
}

#dashboard-goal-section > i, #dashboard-annual-leave-section > i{
    font-size: 5rem;
    padding: 0.5rem;
    color: white;
}

#dashboard-annual-leave-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #bf7de8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
}

#dashboard-annual-leave-section a, #dashboard-goal-section a {
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#dashboard-annual-leave-section h3, #dashboard-goal-section h3 {
    margin: 1rem;
}

.dashboard-goal-widget {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, .125);
    box-shadow: 0 2px 8px 0 black;
    background-color: palegreen;
    color: black;
}

#dashboard-annual-leave-container{
    width: 80%;
}

.dashboard-annual-leave-widget {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#dashboard-annual-leave-container div:nth-child(odd) {
    background-color: white;
    color: black;
}

#dashboard-annual-leave-container div:nth-child(even) {
    background-color: palegreen;
}

#no-goals-set-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#no-goals-set-container a {
    width: 9rem;
}

@media screen and (min-width: 768px) {
    #dashboard-goal-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .dashboard-goal-widget {
        width: 10rem;
    }
    
}

@media screen and (min-width: 1220px) {
    #dashboard-details-container{
        display: flex;
        flex-direction: row;
    }

    #dashboard-annual-leave-section, #dashboard-goal-section {
        width: 50%;
        margin: 0.8rem;
        justify-content: center;
        min-height: 450px;
    }
}