
#dashboard-welcome-headings, #dashboard-goal-container, #dashboard-annual-leave-container {
    margin: 1rem 1rem 2rem 1rem;
}

#dashboard-welcome-headings, #dashboard-goal-section h3, #dashboard-goal-section h3 {
    text-align: center;
}

#dashboard-goal-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#dashboard-goal-section, #dashboard-goal-section{
    margin-bottom: 2rem;
}

#dashboard-annual-leave-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-annual-leave-section a {
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-goal-widget {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, .125);
    box-shadow: 0 2px 8px 0 grey;
    background-color: mediumpurple;
    color: white;
}

.dashboard-annual-leave-widget {
    border-top: solid 1px;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.booked-leave-table tr:nth-child(even) {
    background-color: #bf7de8;
    color: white;
}

#dashboard-annual-leave-container div:nth-child(even) {
    background-color: #bf7de8;
    color: white;
}

#no-goals-set-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#no-goals-set-container a {
    width: 9rem;
}

@media screen and (min-width: 768px) {
    #dashboard-goal-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .dashboard-goal-widget {
        width: 10rem;
    }

    #dashboard-welcome-headings, #dashboard-goal-section h3 {
        text-align: left;
    }

    #dashboard-goal-section > h3, #dashboard-annual-leave-section h3 {
        margin-left: 1rem;
    }

    
}

@media screen and (min-width: 1220px) {
    #dashboard-details-container{
        display: flex;
        flex-direction: row;
    }

    #dashboard-goal-section{
        width: 60%;
        min-height: 400px;
        border-right: solid 1px;
    }

    #dashboard-annual-leave-section {
        width: 40%;
    }
}