
#goal-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1999px;
}

.goal-cards {
    width: 100%;
    padding: 0;
}

.goal-cards .card-body{
    position: relative;
}

#create-goal-button {
    display: block;
    margin: 1em auto 1em auto;
    max-width: 300px;
}

#create-goal-button-with-goals{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.goal-details-progress-bar {
    max-width: 400px;
}

.goal-cards-footer{
    display: flex;
    justify-content: space-between;
}

#goal-icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#goal-icon-container > i {
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
}

.due-date-switch-container{
    margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px) {
    .goal-cards {
        max-width: 500px;
    }

    #create-goal-button-with-goals {
        margin-left: 8px;
    }

    .goal-card-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .goal-card-progress-buffer{
        height: 56px;
    }
}

@media screen and (min-width: 996px) {

    .goal-cards {
        max-width: 650px;
    }
}