html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
}



.btn-purpura{
    background-color: mediumpurple;
    color: white;
}

.btn-purpura:hover{
    background-color: rebeccapurple;
    color: white;
}



.form-title{
    margin-bottom: 1rem;
}

.field-validation-error, .result-failure-error {
    color: red;
    padding: 10px;
}

.result-failure-error{
    text-align: center;
}

.form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-icons{
    padding-right: 0.3rem;
}

.page-heading{
    text-align: center;
}

.post-forms textarea {
    height: 150px !important;
}


@media screen and (min-width: 768px) {

    .details-container {
        width: 50%;
    }

    .post-forms {
        width: 60%;
    }
}