@* @using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager;

<div class="sidebar">
    <ul>
        <li><a asp-controller="UserManagement" asp-action="Details" asp-route-userId="@UserManager.GetUserId(User)">View Account Details</a></li>
    </ul>
</div> *@
