@model CompanyEmployeeViewModel;

<h1 class="form-title">Add Company Employee</h1>

<form asp-action="Create" asp-controller="CompanyEmployee" class="post-forms">

    <input type="hidden" asp-for="CompanyExternalReference" />

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="FirstName" />
        <label asp-for="FirstName">First Name</label>
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="MiddleName" />
        <label asp-for="MiddleName">Middle Name(s)</label>
        <span asp-validation-for="MiddleName"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="LastName" />
        <label asp-for="LastName">Last Name</label>
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="JobTitle" />
        <label asp-for="JobTitle">Job Title</label>
        <span asp-validation-for="JobTitle"></span>
    </div>

    @if (Model.Result != null && Model.Result.Error != null)
    {
        <div class="field-validation-error">@Model.Result.Error</div>
    }

    <div class="form-button-container">
        <a asp-action="Details" asp-controller="Company" asp-route-companyReference="@Model.CompanyExternalReference" class="btn btn-secondary"><i class="bi bi-x button-icons"></i>Cancel</a>
        <button type="submit" class="btn btn-success"><i class="bi bi-check2 button-icons"></i>Submit</button>
    </div>
</form>

@section Scripts {
    <script>
    </script>
}