@model CompanyEmployeeViewModel;

<h1 class="form-title">Add Company Employee</h1>
<p style="width: 60%;">Create a Company Employee. If a user is already on the system that has the supplied email then on creation the Company Employee will be matched to that user. If there is no match then when the user registers they will be assigned to the Company Employee on registration.</p>

<form asp-action="Create" asp-controller="CompanyEmployee" class="post-forms">

    <input type="hidden" asp-for="CompanyExternalReference" />
    <input type="hidden" asp-for="EmailExists" />

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="FirstName" placeholder="" />
        <label asp-for="FirstName">First Name</label>
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="MiddleName" placeholder="" />
        <label asp-for="MiddleName">Middle Name(s)</label>
        <span asp-validation-for="MiddleName"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="LastName" placeholder="" />
        <label asp-for="LastName">Last Name</label>
        <span asp-validation-for="LastName"></span>
    </div>

    <div id="existing-email-validation"></div>
    <div class="form-floating mb-3">
        <input class="form-control" type="email" asp-for="Email" placeholder="" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email"></span>
    </div>
    
    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="JobTitle" placeholder="" />
        <label asp-for="JobTitle">Job Title</label>
        <span asp-validation-for="JobTitle"></span>
    </div>

    @if (Model.Result != null && Model.Result.Error != null)
    {
        <div class="field-validation-error">@Model.Result.Error</div>
    }

    <div class="form-button-container">
        <a asp-action="Details" asp-controller="Company" asp-route-companyReference="@Model.CompanyExternalReference" class="btn btn-secondary"><i class="bi bi-x button-icons"></i>Cancel</a>
        <button type="submit" class="btn btn-success"><i class="bi bi-check2 button-icons"></i>Submit</button>
    </div>
</form>

@section Scripts {
    <script>
        initialiseEmailCheckAjax('@Url.Action("CheckUserEmailExists", "UserManagement")');
    </script>
}