
<partial name="_UserManagementSideBar" />

<div class="user-management-content">
    <h1>Welcome to the user management centre.</h1>

    <h2>Here you can view and edit your personal details from the links on the sidebar.</h2>
</div>

