@page "/Logout"
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div id="logout-container">
    <h1>@ViewData["Title"]</h1>
    <hr style="width: 100%;" />
    <p>You have successfully logged out of the application.</p>

    <p><a href="/Account/Login" asp-asp-page="/Account/Login"> Click here to log in again.</a></p>
</div>
