@model CompanyViewModel

<div class="details-container">
    <h1>@Model.Name</h1>
    <dl id="company-detail-list">
        <dt>Address</dt>
        <dd>@Model.FullAddress</dd>

        <dt>Details</dt>
        <dd>@Model.Details</dd>
    </dl>
</div>

@if(Model.Employees != null && Model.Employees.Any())
{
    <partial name="_CompanyEmployeeCards" model="@Model.Employees" />
}