@model GoalViewModel;

<h1 class="form-title">Edit Goal</h1>

<form asp-action="Edit" asp-controller="Goal" asp-route-reference="@Model.ExternalReference" method="post" class="post-forms">

    <div class="form-check form-switch due-date-switch-container">
        <input class="form-check-input form-control" type="checkbox" role="switch" id="due-date-switch" asp-for="IsDateRequired">
        <label class="form-check-label" for="switchCheckDefault">Due Date Required</label>
    </div>

    <div class="form-floating mb-3 due-date-field-container" style="display: none;">
        <input class="form-control" type="date" asp-for="DueDate" placeholder="1" />
        <label asp-for="DueDate">Due Date</label>
        <span asp-validation-for="DueDate"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" type="text" asp-for="Name" placeholder="My Goal" />
        <label asp-for="Name">Goal Name</label>
        <span asp-validation-for="Name" class="mb-3"></span>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" asp-for="Description" placeholder=""></textarea>
        <label asp-for="Description">Description</label>
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" asp-for="PercentageComplete" placeholder="">
        <label asp-for="PercentageComplete">Percentage Complete</label>
        <span asp-validation-for="PercentageComplete"></span>
    </div>

    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="ExternalReference" />

    @if(Model.Result != null && Model.Result.Error != null)
    {
        <div class="field-validation-error">@Model.Result.Error</div>
    }

    <div class="form-button-container">
        <a asp-action="Index" asp-controller="Goal" class="btn btn-secondary"><i class="bi bi-x button-icons"></i>Cancel</a>
        <button type="submit" class="btn btn-success"><i class="bi bi-pencil-square button-icons"></i>Submit</button>
    </div>
</form>

@section Scripts {
    <script>
        if(@Model.OperationFailure.ToString().ToLower()){
            toastr.error("Edit failed.")
        }

        goalCreateEditForms();
    </script>
}

